<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!--<button>Logout</button>-->
</div>

<section class="box-app">
  <app-login (login)="toggle($event)" (logged)="logIn($event)" *ngIf="toggleComponent && !logged"></app-login>
  <app-registration (registration)="toggle($event)" *ngIf="!toggleComponent && !logged"></app-registration>
</section>
<button (click)="logOut()" *ngIf="logged">Wyloguj</button>
<button (click)="removeMe()" *ngIf="logged">Usuń</button>







